* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0;
}

h4, h3, h2, .work-time, .work-description, .job-title {
    text-align: center;
    padding-bottom: 20px;
}

.even, .odd {
    padding: 120px 0px 120px 0px;
}

.odd {
    background-color: #F8F8F8;
}

.orange-text {
    color: orange;
}

.awesome-picture {
    background-image: url('../images/intro-hero.jpg');
    background-size: cover;
    padding: 90px 0px 120px 0px;
}

.my-pic {
    border-radius: 50%;
    max-width: 75%;
    display: block;
    margin: 0 auto;
}

.text-center h1 {
    color: white;
    text-align: center;
}

#second-pic {
    margin: 0px auto;
    display: block;
    max-width: 100%;
    padding-bottom: 20px;
}

.first-paragraph {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
}

.second-paragraph, .work-description, .review p {
    margin: 0 40px 20px 40px;
    font-weight: 100px;
    font-size: 15px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    opacity: 0;
}

.buttons a {
    background-color: orange;
    color: white;
    border-radius: 50px;
    padding: 6px 24px 6px 24px;
    margin: 20px 0px 20px 0px;
    font-size: 20px;
}

.skill-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.skill-items img {
    width: 30%;
    height: auto;
    margin-bottom: 20px;
}

.carousel-cell {
    width: 100%; /* full width */
    height: auto; /* height of carousel */
    margin-right: 10px;
    padding-bottom: 20px;
}

.job-title span {
    font-size: 16px;
}

.review-pics img {
    width: 50%;
    height: auto;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
}

.project h4 {
    padding-bottom: 0px;
}

.project p {
    text-align: center;
    padding-bottom: 60px;
}

.hobby-names {
    text-align: center;
    font-weight: bold;
}

.hobby-pics {
    /* position: relative; */
    width:  200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.second-pic-wp, .about-me-text, .buttons, .skill-section, .tech-skills-1,
.tech-skills-2, .tech-skills-3, .education-section, .colleges, .projects-header,
.projects {
    opacity: 0;
}

.second-pic-wp.animated, .about-me-text.animated, .buttons.animated,
.skill-section.animated, .tech-skills-1.animated, .tech-skills-2.animated,
.tech-skills-3.animated, .education-section.animated, .colleges.animated,
.projects-header.animated, .projects.animated {
    opacity: 1;
}

@media screen and (min-width: 768px){
    .my-pic {
        max-width: 50%;
    }

    #second-pic {
        max-width: 150%;
        margin-top: 75px;
    }

    .first-paragraph {
        font-size: 35px;
    }

    .second-paragraph {
        margin: 0px 40px 20px 55px;
    }

    .buttons a {
        padding: 12px 50px 12px 50px;
    }

    .skill-items img {
        width: 15%;
    }

    .work-description, .review {
        margin: 0px 40px 0px 40px;
    }

    .review-pics img, .hobby-pics {
        width: 25%;
    }
}

@media screen and (min-width: 992px){
    .my-pic {
        max-width: 50%;
    }

    .first-paragraph {
        font-size: 35px;
    }

    .second-paragraph {
        font-size: 20px;
        margin: 0px 40px 20px 55px;
    }

    .buttons a {
        padding: 12px 50px 12px 50px;
    }

    .skill-items img {
        width: 15%;
    }

    .work-description, .review {
        font-size: 20px;
        margin: 0px 40px 0px 40px;
    }

    .review-pics img, .hobby-pics {
        width: 25%;
    }
}

