* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h4, h3, h2, .work-time, .work-description, .job-title {
    text-align: center;
}

.even, .odd {
    padding: 120px 0px 120px 0px;
}

.odd {
    background-color: #F8F8F8;
}

.orange-text {
    color: orange;
}

.awesome-picture {
    background-image: url('../images/intro-hero.jpg');
    background-size: cover;
    padding: 90px 0px 120px 0px;
}

.my-pic {
    border-radius: 50%;
    max-width: 75%;
}

.text-center h1 {
    color: white;
}

#second-pic {
    margin: 0px auto;
    display: block;
    max-width: 75%;
}

.first-paragraph {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
}

.second-paragraph, .work-description, .review p {
    margin: 0 40px 20px 40px;
    font-weight: 100px;
    font-size: 15px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    opacity: 0;
}

.buttons a {
    background-color: orange;
    color: white;
    border-radius: 50px;
    padding: 6px 24px 6px 24px;
    margin: 20px 0px 20px 0px;
    font-size: 20px;
}

.skill-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.skill-items img {
    width: 30%;
    height: auto;
    margin-bottom: 20px;
}

.carousel-cells h3 {
    font-weight: 600;
}

.job-title span {
    font-size: 16px;
}

.review-pics img {
    width: 50%;
    height: auto;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
}

.project p {
    text-align: center;
}

.hobby-names {
    text-align: center;
    font-weight: bold;
}

.hobby-pics {
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
}

.tech-skills-1, .tech-skills-2, .tech-skills-3, .work-experience, .main-carousel,
.skill-section, .education-section, .colleges-1, .colleges-2, .people-say, .review-pics,
.review, .projects, .project-1, .project-2, .interests-hobbies, .hobbies, .second-pic-wp,
.about-me-text {
    opacity: 0;
}

.tech-skills-1.animated, .tech-skills-2.animated, .tech-skills-3.animated, 
.work-experience.animated, .main-carousel.animated, .skill-section.animated,
.education-section.animated, .colleges-1.animated, .colleges-2.animated, 
.people-say.animated, .review-pics.animated, .review.animated, .projects.animated,
.project-1.animated, .project-2.animated, .interests-hobbies.animated, .hobbies.animated,
.second-pic-wp.animated, .about-me-text.animated, .buttons.animated {
    opacity: 1;
}

@media screen and (min-width: 768px){
    .my-pic {
        max-width: 50%;
    }

    #second-pic {
        max-width: 125%;
        margin-top: 75px;
    }

    .first-paragraph {
        font-size: 35px;
    }

    .second-paragraph {
        margin: 0px 40px 20px 55px;
    }

    .buttons a {
        padding: 12px 50px 12px 50px;
    }

    .skill-items img {
        width: 15%;
    }

    .work-description, .review {
        margin: 0px 40px 0px 40px;
    }

    .review-pics img, .hobby-pics {
        width: 25%;
    }
}

@media screen and (min-width: 1024px){
    .my-pic {
        max-width: 50%;
    }

    .first-paragraph {
        font-size: 35px;
    }

    .second-paragraph {
        font-size: 20px;
        margin: 0px 40px 20px 55px;
    }

    .buttons a {
        padding: 12px 50px 12px 50px;
    }

    .skill-items img {
        width: 15%;
    }

    .work-description, .review {
        font-size: 20px;
        margin: 0px 40px 0px 40px;
    }

    .review-pics img, .hobby-pics {
        width: 25%;
    }
}

