section {
    padding-top: 120px;
    padding-bottom: 120px;
}

h1 {
    color: white;
}

img {
    max-width: 100%;
}
.awesome-picture {
    background-image: url('./images/intro-hero.jpg');
    background-size: cover;
    padding: 90px 0px 120px 0px;
}

.container {
    width: 1140px;
    max-width: 100%;
}

.my-pic {
    border-radius: 50%;
}

.typist-skill {
    color: #ff9801;
    font-weight: bold;
}

.hero-tagline {
    font-size: 30px;
}



.section-title {
    text-align: center;
    /* visibility: visible;
    animation-name: zoomIn; */
}